@use '../../UI/theme' as theme;

.preview {
	margin-bottom: 0.5rem;
	border: 2px solid theme.$theme-darker;
	background-color: lighten(theme.$theme-complementary, 3%);
	border-radius: 10px;
	padding: 2px;
}

.view-title {
	display: block;
}
