.App {
  padding: 0.5rem;
  background-color: #F0F0C9;
}

h1, h2 {
  text-align: center;
}

#college {
  margin-bottom: 2rem;
}

#high-school {
  margin-bottom: 2rem;;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
